/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}
/*universal level elements*/
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #020659;
    margin-left:80px;
    margin-right: 80px;
}

/*inline level elements*/
h1 {font-size:1.25em;
    color: #ffffff;
}
h1 a{
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    text-transform: capitalize;
    font-size:1.75em;
}
.h1_cap{
    font-weight:bold;
    text-transform: uppercase;
    font-size:.55em;
}
h3 {
    font-size: 1.25em;
    color: #590242;
    font-weight: bolder;
}
h2 {
    font-size: 1.5em;
    color: #590242;
    font-weight: bolder;
}
#bio_h2{
    font-size: 1.5em;
    color:#ffffff;
    font-weight: bolder;
}
#bio{
 background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,8,172,1) 35%, rgba(3,8,172,1) 100%);
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
}
p{
    color: #ffffff;
    font-size: .75em;
}
#crfoot{
    text-align: center;
    margin: 0 auto;
    color: #590242;
}
div dl{
    
    color: #ffffff;
    font-size: 1em;
}
#trending div dl{
    color: #590242;
    font-size: 1em;
}
/*block level elements*/
header{
    background-color: #020873;
}
footer{
    background-color: #ffffff;
}
#trending{
    background-color: #ffffff;
    margin-bottom:20px;
}

#your_playlists{
    background-color: #0d8dfb;
    margin-top: 60px;
}
#curated_playlists{
    background-color: #020873;
    margin-top: 60px;
    }
#allplaylists{
    background-color: #ffffff;
    padding-top: 50px;
}
/*button display*/  
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #590242;
    border-radius: 6px;
    outline: none;
    transition: 0.1s;
    border: 2px solid transparent;
  }
  .button:hover,
  .button:focus {
    background-color: #0d8df8;
    border-color: #7aa8b7;
  }


/*menu (start media queries)*/
@media screen and (min-width:375px) {
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-decoration: none;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
}
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}